body {
  margin: 0px;
}
.content-panel {
  width: 80%;
}
.chat-panel {
  width: 30%;
}
.container {
 padding-left: 30px !important;
 padding-right: 30px !important;
 width: 100% !important;
}
.slider-button {
  width: 24px;
  height: 24px;
  padding: var(--ds-space-0, 0px);
  position: absolute;
  background-color: var(--ds-surface-overlay, #FFFFFF);
  border: 0px;
  border-radius: var(--ds-border-radius-circle, 50%);
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  color: var(--ds-text-subtle, #6B778C);
  cursor: pointer;
  inset-block-start: var(--ds-space-400, 32px);
  inset-inline-start: 0px;
  opacity: var(--ds--resize-button--opacity, 0);
  outline: 0px;
  transition: background-color 100ms linear, color 100ms linear, opacity 350ms cubic-bezier(0.2, 0, 0, 1);
  transform: rotate(180deg);
  transform-origin: 7px center;
}
.button-span {
  position: absolute;
    inset-block-end: var(--ds-space-negative-300, -24px);
    inset-block-start: var(--ds-space-negative-300, -24px);
    inset-inline-end: var(--ds-space-negative-150, -12px);
    inset-inline-start: var(--ds-space-negative-100, -8px);
}

#root {
  padding: 43px 0 48px;
}

main {
  min-height: calc(100vh - 91px)
}

aui-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

aui-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.setup-status-wrapper {
  max-width: 1000px;
  margin: auto;
}

.setup-status-wrapper img {
  width: 100%;
}

.next-steps .step {
  width: 315px;
}

.pulse {
  animation: bounce 2s infinite linear;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

.w-250 {
  width: 250px;
}

.orange-text {
  color: #E05200;
}

.welcome-text,
.welcome-image {
  flex: 1;
}
.welcome-text h4 {
  max-width: 460px;
}
.welcome-image img {
  width: 100%;
}

.welcome-image.divider-left {
  border-color: #E05200 !important;
}

.full-container-height {
  height: calc(100vh - 93px);
}