body {
  margin-top: 0px;
}
main {
  height: 90vh;
}
#root {
  width: 100%;
  margin-top:0
}
.content-panel {
  width: 80%;
}
.chat-panel {
  width: 30%;
}
.container {
 padding-left: 30px !important;
 padding-right: 30px !important;
 width: 100% !important;
}
.slider-button {
  width: 24px;
  height: 24px;
  padding: var(--ds-space-0, 0px);
  position: absolute;
  background-color: var(--ds-surface-overlay, #FFFFFF);
  border: 0px;
  border-radius: var(--ds-border-radius-circle, 50%);
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  color: var(--ds-text-subtle, #6B778C);
  cursor: pointer;
  inset-block-start: var(--ds-space-400, 32px);
  inset-inline-start: 0px;
  opacity: var(--ds--resize-button--opacity, 0);
  outline: 0px;
  transition: background-color 100ms linear, color 100ms linear, opacity 350ms cubic-bezier(0.2, 0, 0, 1);
  transform: rotate(180deg);
  transform-origin: 7px center;
}
.button-span {
  position: absolute;
    inset-block-end: var(--ds-space-negative-300, -24px);
    inset-block-start: var(--ds-space-negative-300, -24px);
    inset-inline-end: var(--ds-space-negative-150, -12px);
    inset-inline-start: var(--ds-space-negative-100, -8px);
}

.full-container-height {
  height: calc(100vh - 93px);
}